$background-color__page: #141b1c;
$color-text: #fff;

$background-color__card: #334247;
$background-color__price1:#5bb189;

$background-color__price2:#3a6ba5 ;
$background-color__price3:#ec632a ;

$color-popular: #dc3f45;