.use-code {
  background-color: #1968fc; 
  height: 460px;
  @include for-large-up {
    height: 450px;
    max-width: 1400px;
    margin: auto;
  }
  &__line {
    width: 80px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0px 2px 0px #6a9eff;
    margin-left: 60px;
    @include for-large-up {
      margin-left: 120px;
    }
  }
  &__title {
    font-size: 30px;
    line-height: 60px;
    color: #fff;
    padding-top: 60px;
    padding-left: 60px;
    @include for-large-up {
      padding-top: 80px;
      padding-left: 160px;
    }
  }
  &__descrioption {
    display: flex;
  }
  &__section {
    padding-left: 60px;
    @include for-large-up {
      padding-left: 160px;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 40px;

    @include for-large-up {
      margin-top: 48px;
      max-width: 640px;
    }
  }
  &__button {
    background-color: #fff;
    color: #1968fc;
    width: 320px;
    height: 50px;
    border: none;

    @include for-large-up {
      margin-bottom: 60px;
    }
  }

  &__img {
    display: none;

    @include for-large-up {
      margin-top: 20px;
      display: block;
      overflow: hidden;
      position: relative;
      margin-left: auto;
    }
  }
}
